html {
    font-size: 100%;
}
.sc_chr {
    position: relative;
    left: 550px
}
h1 {
    text-align:center;
  padding:20px 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}
form{
    position: absolute;
    top: 25%;
    left: 41%;
}
label{
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="mail"],
input[type="word"],
textarea {
   
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="mail"],
input[type="word"] {
    width: 100%;
    max-width: 240px;
}
/*textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}*/
input[type="submit"] {
   
}

/*.page-header {
    display: flex;
    justify-content: space-between;
}