@charset "UTF-8";

/* 共通部分 
------------------------------- */
html {
    font-size: 100%;
}
textarea {
    width: 600px;
    height: 70px;
    font-size: 30px;
    }
.page-header {
        display: flex;
        justify-content: space-between;
    }   
.wrapper {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 4%;
    }  
/*多分カメラ用*/
textarea {
        width: 600px;
        height: 70px;
        font-size: 30px;
    } 
.cicon {
        display: block; 
        margin: auto;
    }
.n_chr {
    text-align: center;
        font-size:30px;
    }
.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
/*投稿された内容に使われる文字*/
.sc_chr {
    text-align: center;
        font-size:70px;
        font-weight: bold;
    }

/*影*/
.shadow {
        filter: drop-shadow(10px 10px 10px rgb(128, 128, 128));
}
/*slick*/
.slick-slide {
        transform: scale(.88);
    }
.slick-current {
        transform: scale(.93);
    }

    #button{
    padding: 0.5em 0.5em;
    border: double 30px #e71a5f;
    background: rgb(255, 225, 235);
    width: 600px;
    margin: 0 auto 20px;
}
#favN {
        font-size:60px;
        font-weight: bold;
        text-align: center;
        color:rgb(255, 38, 110);
    }
#button.active {
        background: rgb(255, 38, 110);
    }


/*歩数を表示するタブ*/
.taboya{
    /*
    top: 0;
    right:0;
    position: fixed;*/
    padding: 0.5em 1em;
    margin: 2em 0;
    letter-spacing : 6px;                /* 文字間 */     
    background: #ffe4c6;
    border-bottom: solid 6px #dec3aa;
    border-radius: 9px;
}
.tab{
    height: 30px;
}
ul.tab{
    margin:0;
   }
   .tab li{
    border:1px solid #888;
    border-bottom-color:transparent;
    list-style:none;
   display:inline-block;
   background:#888;
   color:rgb(255, 255, 255);
   }
   .tab li.active{
    background:rgb(255, 187, 124);
   color:#000;
   }
   @font-face {
	font-family: 'MyFont';
	src: url(./font.ttf);
}
   .tab_cnt{
    font-family: MyFont;
    border:1px solid #888;
   padding:15px;
    margin-top:-1px;
    overflow:hidden;
    height: 150px;
    background:rgb(255, 255, 255);
    color          : rgb(214, 148, 86);          
   }
   .tab_cnt div{
    text-align: right; 
    display:none;
    font-size: 120px;
   }
   .tab_cnt div.active{
    display:block;
   }

   /*背景*//*
   body {  
    background-attachment: fixed;
    /*background-repeat: no-repeat;
    background-position:-100% 50%;
    background-size:cover;
    background-image:url("walk.png");
  }*/
/* ログイン*/
.saigo{
      text-align: right;
}